---
layout: page
title: Portfolio
permalink: /portfolio/
---
<ul class="portfolio">
{% for portfolio in site.data.portfolio %}
{% assign work = portfolio[1] %}
{% assign beforeImage = 'background-image:url(' %}
{% assign afterImage = ');' %}
{% assign image = beforeImage | append: work.image | append: afterImage %}
  <li>
    <div class="work-image" style="{{ image }}">
    </div>
    <div class="work-content">
      <h2>{{ work.name }}</h2>
      <ul>
        {% for skill in work.skills %}
          <li>
            <i class="fab fa-{{ skill }}"></i>
          </li>
        {% endfor %}
      </ul>
    </div>
  </li>
{% endfor %}
</ul>