---
layout: page
title: Resume
permalink: /resume/
---
<section class="container resume">
    <div class="row">
        <div class="col-12 col-md-3 contact-column">
            <img src="/assets/pfal.png" />
            <h1>Benjamin<br />Pettijohn</h1>
            <div class="title">Senior Web Developer</div>
            <ul class="no-list seperator">
                <li class="list-header">Contact</li>
                {% for contact in site.data.contact.contact %}
                    <li>{{ contact }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-md-9 main-column">
            <h2>Technical Skills</h2>
            <ul class="no-list skills">
                {% assign sortedSkills = site.data.skills.skills | sort: 'rank' %}
                {% for skill in sortedSkills %}
                    <li>
                        <strong>{{ skill.type }}:</strong>
                        {% for item in skill.items %}
                            {{ item }}{% if forloop.last == false %},{% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            <h2>Work History</h2>
            {% assign sortedhistory = site.data.history.history | sort: 'rank' %}
            {% for history in sortedhistory %}
                <div>
                    <header>
                        <h3>{{ history.title }} at {{ history.name }}</h3>
                        <div class="date">{{ history.start }} - {{ history.end }}</div>
                    </header>
                    <ul>
                        {% for highlight in history.highlights %}
                            <li>{{ highlight }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </div>
        </div>
</section>