@import "variables";

.portfolio {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    & > li {
        height: 260px;
        display: flex;
        border-radius: 3px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 50px;
        box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
        @extend %bg-gradient-blue;
    }

    h2 {
        color: #fff;
        text-shadow: 2px 2px 2px #245aa5;
        margin-top: 20px;
        line-height: 34px;
    }

    .work-image {
        width: 50%;
        margin-right: 20px;
        background-repeat:no-repeat;
        background-size: cover;
        background-position: left top;
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        display: flex;

        li {
            color: #fff;
            font-size: 40px;
            margin-right: 20px;

            i {
                text-shadow: 2px 2px 2px #245aa5;
            }
        }
    }
}