.resume {
    background: rgb(72,72,72);
    background: linear-gradient(180deg, rgba(72,72,72,1) 0%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 100%);
    line-height: 30px;
    color: #fff;
    font-size: 16px;

    h3 {
        margin: 0;
        padding: 0;
    }

    .center {
        text-align: center;
    }

    .no-list {
        padding-left: 0;
        margin: 16px 0;

        li {
            list-style: none;
        }
    }

    .seperator {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        padding: 20px 0;
    }

    header {
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .skills {
        li {
             strong {
                width: 25%;
                display: inline-block;
            }
        }
    }

    .contact-column {
        text-align: center;
        padding: 0;
        font-weight: bold;

        h1 {
            text-transform: uppercase;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 0;
            line-height: 40px;
            font-size: 36px;
            font-family: 'Roboto', sans-serif;
        }
    }

    .title {
        font-size: 14px;
        font-weight: normal;
    }

    .list-header {
        text-transform: uppercase;
        border-bottom: 1px solid #005dff;
        padding-bottom: 5px;
        margin: 0 0 20px;
        font-size: 18px;
        display: inline-block;
    }

    .main-column {
        color: #000;
        background-color: #fff;
    }

    header {
        background: rgb(72,72,72);
        background: linear-gradient(90deg, rgba(72,72,72,1) 0%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 100%);
        color: #fff;
        padding: 20px 10px;
        padding: 15px 10px 10px;
        border-top-right-radius: 30px;
        border-bottom: 5px solid #005dff;
    }

    img {
        border-radius: 150px;
        width: 70%;
        display: block;
        margin: 24px auto;
    }
}

.post-header {
    display: none;
}