.resume {
    background-color: blue;
    color: #fff;

    .no-list {
        padding-left: 0;
        margin-left: 0;

        li {
            list-style: none;
            line-height: 30px;
        }
    }

    .skills {
        li {
             strong {
                width: 25%;
                display: inline-block;
            }
        }
    }

    .main-column {
        color: #000;
        background-color: #fff;
    }

    img {
        border-radius: 150px;
        width: 90%;
        display: block;
        margin: 24px auto;
    }
}