.resume {
    background-color: #212121;
    line-height: 30px;
    color: #fff;

    h3 {
        margin: 0;
        padding: 0;
    }

    .center {
        text-align: center;
    }

    .no-list {
        padding-left: 0;
        margin-left: 0;

        li {
            list-style: none;
        }
    }

    .seperator {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        padding: 20px 0;
    }

    .skills {
        li {
             strong {
                width: 25%;
                display: inline-block;
            }
        }
    }

    .contact-column {
        text-align: center;
        padding: 0;
        font-weight: bold;

        h1 {
            word-wrap: break-word;
        }
    }

    .main-column {
        color: #000;
        background-color: #fff;
    }

    header {
        background-color: #212121;
        color: #fff;
        padding: 20px 10px;
    }

    img {
        border-radius: 150px;
        width: 70%;
        display: block;
        margin: 24px auto;
    }
}

.post-header {
    display: none;
}